#selectFiles{
    position: absolute;
    top: 2%;
    right: 19%;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;

}
.inputLabel{
    position: absolute;
    right: 23%;
    top: 3%;
    width: 20%;
    height: 9%;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 10px;
    border: 1px solid #906b42;
    font: bold 100% Tahoma ;
    background-color: #bc8e6c;
    color: white;
    cursor: pointer;
}

.del{
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 20px;
    height: 20px;
    background: url(../icons/delete_x.png) no-repeat center;
    background-size: 10px 10px;
}
.go{
    position: absolute;
    background-color: #4fc968;
    color: black;
    right:21.5%;
    border: 1px solid #35AC4B;
    transform: translate(-50%);
    bottom: 2%;
    border-radius: 10px;
    cursor: pointer;

}

.inputLabel:hover, .go:hover {
    background-color: #bbf0c6;
    color: #333;
}
.inputLabel:hover {
    background-color: #faf0e8;
    color: #333;
}

.btn-mine {
    background: #faf3ec;
    border-radius: 8px;
    border: 1px solid #bc8e6c;
    font-size: 20px;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 95%;
    height: 90%;
    padding: 4px;
}
.active {
    background: white !important;
    border: 2px solid #bc8e6c !important;
}
