body{
    background: #f2e0ce;
}

#leftbox{
    position: absolute;
    left:1%;
    width: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 100%;
    display: inline-block;
    overflow-y: scroll;
}
#leftbox::-webkit-scrollbar-track  {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #bc8e6c;
}
#leftbox::-webkit-scrollbar  {
    width: 12px;
    height:12px;
    background-color: #f2e0ce;
}
#leftbox::-webkit-scrollbar-thumb  {
    background-color: #bc8e6c;
}

#nameList{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right:2%;
    width: 60%;
    top: 20%;
    bottom: 10%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: medium;
    padding-top: 10px;
    margin-left: 5px;
    line-height: 1.4;
    overflow-y: auto;
    box-sizing: border-box;
}


#format_info{
    position: absolute;
    right: 23%;
    top: 14%;
    display: inline;
    font: 90% Tahoma;
}

#wait{
    width: 40%;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    display: inline;
    font: 30px/50px Tahoma;
    color: #333;
    z-index: 9999;
    position: absolute;
    left: 30%;
    top: 50%
}
