body{
    /*background: rgb(18,90,204)!important;*/
    background: #f2e0ce
            /*linear-gradient(90deg, rgba(1,133,200,255) 0%, rgba(34,179,248,255) 100%) !important;*/
}

#leftbox{
    position: absolute;
    left:1%;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: scroll;
}
#leftbox::-webkit-scrollbar-track  {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #bc8e6c;
}
#leftbox::-webkit-scrollbar  {
    width: 12px;
    height:12px;
    background-color: #f2e0ce;
}
#leftbox::-webkit-scrollbar-thumb  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #bc8e6c;
    border: 1px solid #333333;
}

#nameList{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right:2%;
    width: 60%;
    top: 20%;
    bottom: 10%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: medium;
    padding-top: 10px;
    margin-left: 5px;
    line-height: 1.4;
    overflow-y: auto;
    box-sizing: border-box;
}




#format_info{
    position: absolute;
    right: 23%;
    top: 14%;
    display: inline;
    font: 90% Tahoma;
}



#wait{
    width: 40%;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    display: inline;
    font: 30px/50px Tahoma;
    color: #333;
    z-index: 9999;
    position: absolute;
    left: 30%;
    top: 50%
}

/*.divider{*/
/*    height:5px;*/
/*}*/

/*.my-btn-group .task-button {*/
/*    opacity: 0.8;*/
/*    background-color: whitesmoke;*/
/*    border: 2px solid white;*/
/*    color: black;*/
/*    padding: 15px 32px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*    width: 400px;*/
/*    display: block;*/
/*    border-radius: 10px;*/

/*}*/
/*.yellow {*/
/*    background: #FFFF99 !important;*/
/*}*/

/*.disabled {*/
/*    !*background-color:#b0cae5 !important;*!*/
/*    opacity: 0.2 !important;*/
/*    pointer-events: none;*/
/*    border: none !important;*/

/*}*/

/*#leftwriting{*/
/*    position: absolute;*/
/*    background-color: #afdfe1;*/
/*    font: 150%/100% "Segoe UI Semilight";*/
/*    top: 5%;*/
/*    left: 2%;*/
/*    width: fit-content;*/
/*    height: fit-content;*/
/*    display: block;*/
/*}*/

/*#rightbox{*/
/*    border-radius: 10px;*/
/*    position: absolute;*/
/*    right:1%;*/
/*    width: 60%;*/
/*    top: 20%;*/
/*    height: 75%;*/

/*}*/


