body{
    background: rgb(18,90,204)!important;
    background: linear-gradient(90deg, rgba(1,133,200,255) 0%, rgba(34,179,248,255) 100%) !important;
}



/*#leftwriting{*/
/*    position: absolute;*/
/*    background-color: #afdfe1;*/
/*    font: 150%/100% "Segoe UI Semilight";*/
/*    top: 5%;*/
/*    left: 2%;*/
/*    width: fit-content;*/
/*    height: fit-content;*/
/*    display: block;*/
/*}*/

#selectFiles{
    position: absolute;
    top: 2%;
    right: 19%;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}
/*#leftbox{*/
/*    background-color: whitesmoke;*/
/*    border-radius: 10px ;*/
/*    position: absolute;*/
/*    left:1%;*/
/*    width: 45%;*/
/*    top: 10%;*/
/*    height: 80%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

#rightbox{
    background-color: whitesmoke;
    border-radius: 10px;
    position: absolute;
    right:1%;
    width: 60%;
    top: 20%;
    height: 75%;

}
#nameList{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right:1%;
    left:1%;
    width: 98%;
    top: 1%;
    bottom: 1%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: medium;
    /*padding-left: 5px;*/
    /*padding-bottom: 20px;*/
    line-height: 1.4;
    overflow-y: auto;
    padding-left: 10px;
    box-sizing: border-box;


}
.del{
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.go{
    position: absolute;
    background-color: whitesmoke;
    left:19%;
    /*margin-left:-5%;*/
    transform: translate(-50%);
    width: 15%;
    height:8%;
    bottom: 1%;
    border-radius: 10px;
    /*font: 200% "Segoe UI Semilight";*/
    font: 150% Tahoma;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 1px solid floralwhite;
}

.inputLabel{
    position: absolute;
    right: 23%;
    display: inline;
    background-color: floralwhite;
    width: 20%;
    height: 9%;
    top: 6%;
    border-radius: 10px;
    font: 150% Tahoma;
    text-align: center;
    vertical-align: center;
    color: #333;
    cursor: pointer;
    outline: none;
    line-height: 40px;

}


.push:hover{
    /*background-color: rgba(34,179,248,255);*/
    border: 2px solid white;
    /*color: white;*/
    color:black;
    font: 180% Tahoma ;
    line-height: 40px;
}



.divider{
    height:5px;
}

.btn-group .task-button {
    opacity: 0.8;
    background-color: whitesmoke;
    border: 2px solid white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 400px;
    display: block;
    border-radius: 10px;

}


.task-button:hover {
    background-color: #86e0fa;
    border: 1px solid whitesmoke;
}
.noHover{
    pointer-events: none;
}

/*.disabled {*/
/*    !*background-color:#b0cae5 !important;*!*/
/*    opacity: 0.2 !important;*/
/*    pointer-events: none;*/
/*    border: none !important;*/

/*}*/

#wait{
    width: 40%;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    display: inline;
    font: 30px/50px Tahoma;
    color: #333;
    z-index: 9999;
    position: absolute;
    left: 30%;
    top: 50%
}
