body{
    background-color: lightyellow;

}
 .warning{
    height: 120px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.warning_text{
    height: 95px;
    width:99%;
    position:absolute;
    overflow: auto;
    border: 1px solid black;
}
 .static_text_up{
    position:relative;
}
 .stati—Å_text_down{
    position:relative;
    margin:0;
    padding-top:12px;
}