body{
    background: rgb(18,90,204)!important;
    background: linear-gradient(90deg, rgba(1,133,200,255) 0%, rgba(34,179,248,255) 100%) !important;
}



#leftwriting{
    position: absolute;
    background-color: #afdfe1;
    font: 150%/100% "Segoe UI Semilight";
    top: 5%;
    left: 2%;
    width: fit-content;
    height: fit-content;
    display: block;
}

#translatorsFiles{
    position: absolute;
    top: 2%;
    right: 19%;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}
#leftbox{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left:1%;
    width: 45%;
    top: 10%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightbox{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right:1%;
    width: 45%;
    top: 10%;
    height: 80%;

}
#nameList{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right:1%;
    left:1%;
    width: 98%;
    top: 1%;
    bottom: 1%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: medium;
    /*padding-left: 5px;*/
    /*padding-bottom: 5px;*/
    line-height: 1.4;
    overflow-y: auto;
    padding-left: 10px;
    box-sizing: border-box;


}
.del{
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
#go{
    position: absolute;
    background-color: white;
    left:50%;
    /*margin-left:-5%;*/
    transform: translate(-50%);
    width: 15%;
    height:8%;
    bottom: 1%;
    border-radius: 10px;
    font: 200% "Segoe UI Semilight";
    color: #333;
    cursor: pointer;
    outline: none;
    border: 1px solid #afdfe1;
}

#inputLabel{
    position: absolute;
    right: 16%;
    display: inline;
    background-color: white;
    width: 15%;
    height: 9%;
    top: 0.5%;
    border-radius: 10px;
    font: 130% "Segoe UI Semilight";
    text-align: center;
    vertical-align: center;
    color: #333;
    cursor: pointer;
    outline: none;
    line-height: 40px;

}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.divider{

    height:5px;

}

.btn-group .task-button {
    background-color: #008CBA; /* Green */
    border: 1px solid cornflowerblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 400px;
    display: block;
    border-radius: 10px;

}

.btn-group .task-button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.btn-group .task-button:hover {
    background-color: #3e8e41;
}
/*#reset {*/
/*    width: 15%;*/
/*    height:13%;*/
/*    left: 50%;*/
/*    outline: none;*/
/*    border-radius: 10px;*/
/*    transform: translate(-50%);*/
/*    position: absolute;*/
/*    border: 0.5px solid #ff9308;*/
/*    background-color: #ff9308;*/
/*    font: 200% "Segoe UI Semilight";*/
/*    color: #333;*/
/*    cursor: pointer;*/
/*}*/
#wait{
    width: 40%;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    display: inline;
    font: 30px/50px Tahoma;
    color: #333;
    z-index: 9999;
    position: absolute;
    left: 30%;
    top: 50%
}